:root {
  --full: calc(var(--vh, 1vh) * 100);
  --limit: 600px;
  --spacing: 1em;
  --opacity-recolor: 0.6;
  --create-space: 4.6rem;

  --darkest: #202124;
  --dark: #27292b;
  --middle: #777777;
  --light: #e5e5e5;
  --lightest: #f0f0f0;
  --accent: #e2a316;
  --accent-contract: var(--darkest);

  --DARK-lvl2: var(--dark);
  --DARK-background: var(--darkest);
  --DARK-foreground: var(--light);

  --LIGHT-lvl2: var(--lightest);
  --LIGHT-foreground: var(--darkest);
  --LIGHT-background: var(--light);
}

body {
  --lvl2: var(--DARK-lvl2);
  --background: var(--DARK-background);
  --foreground: var(--DARK-foreground);
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);

  font-family: sans-serif;
  color: var(--foreground);
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

.unsupported {
  text-align: center;
}
.unsupported a {
  color: white;
  font-weight: bold;
}

.header-container.error {
  font-weight: bold;
  background: #d64c4f;
}

.container {
  position: relative;
  height: var(--full);

  display: flex;
  flex-direction: column;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.limit {
  width: 100%;
  max-width: var(--limit);
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.stealthy {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

a {
  color: #6daddd;
}

/** STUFF ABOVE IS STANDARD FRAMEWORK **/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: calc(var(--spacing));
}

i.material-icons {
  user-select: none;
  padding: 0 0 0 10px;
}

/* TOAST STYLE */

.toastify.toastify.toastify {
  width: calc(100% - 20px);
  max-width: var(--limit);
  text-align: center;
}

/* APP STUFF */
.main .body {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: normal;
}

.main h2 {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 1rem;
}

.side-by-side {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  align-items: center;
}

.main .preview {
  /* https://thenounproject.com/icon/loading-1310144/ */
  --default-background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="white" d="M65.5 60.2c10.7 7.7 15 14.3 15 28.7 0 3.6-2.7 6.8-6.3 7.2l-1.9.2a215 215 0 0 1-44.6 0l-1.8-.2a7.3 7.3 0 0 1-6.4-7.2c0-14.5 4.4-21.1 15-28.8 5.6-4.2 7.3-6.3 7.3-10.2 0-4-1.7-6.1-7.2-10.2-10.7-7.7-15-14.3-15-28.8 0-3.5 2.7-6.7 6.3-7.1h.2C39.3 2 60.7 2 74 3.7h.2c3.5.4 6.3 3.6 6.3 7.1 0 14.5-4.3 21-14.9 28.7l-.4.3c-5.4 4.2-7 6.2-7 10.1 0 4 1.8 6 7.3 10.2Zm-2-23.3c6.4-4.6 13.6-10.1 13.6-26a4 4 0 0 0-3.3-3.8h-.2a228 228 0 0 0-47.1 0h-.2a4 4 0 0 0-3.4 3.8c0 15.9 7.2 21.4 13.6 26 4.3 3.2 8.7 6.5 8.7 13 0 6.4-4.4 9.7-8.7 12.9C30.1 67.4 23 72.9 23 88.9a4 4 0 0 0 3.4 3.8l1.9.3c12 1.5 31.6 1.5 43.7 0l1.9-.3A4 4 0 0 0 77 89c0-15.8-7.2-21.3-13.6-26-4.1-3-8.4-6.4-8.4-13s4.4-9.8 8.6-13ZM30.8 76.3c-1-.2-1.4-1-1.1-1.9l.4-1c2.2-4.4 4.7-6 9-9 6.8-5.2 9.5-8.5 9.3-14.8 0-.7 0 0 0 0 0-1 .7-1.7 1.7-1.7h-.2c1 0 1.7.8 1.7 1.7 0 0 0-.7 0 0-.2 6.3 2.4 9.6 9.3 14.7 4.3 3.1 6.8 4.7 9 9.2l.4 1c.3.8-.2 1.6-1.1 1.8l-4.4.7c-8.2 1.2-21.4 1.2-29.6 0l-4.4-.7Z"/></svg>');
  --size: 150px;

  width: var(--size);
  height: var(--size);
  flex-basis: var(--size);
  flex-grow: 0;
  flex-shrink: 0;

  background-color: var(--lvl2);
  background-image: var(--preview-image-url, var(--default-background));
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0.5rem solid var(--lvl2);
  border-radius: 1.2rem;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  text-decoration: none;
  color: var(--foreground);
}

.links a svg {
  --size: 42px;
  fill: var(--foreground);
  width: var(--size);
  height: var(--size);
  margin: 0.5rem;
}

button {
  padding: 1rem 2rem;
  margin: 1rem;
  background: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: 1.5rem;
  box-shadow: 3px 3px 4px -3px var(--foreground);
  text-transform: uppercase;
}

.debug {
  margin: 1rem;
}

.debug table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--lvl2);
}

.debug table td {
  padding: 0.5rem;
}

.debug table tr td:first-of-type {
  width: 6rem;
  font-weight: bold;
  text-align: center;
}

.debug table tr:nth-child(odd) {
  background: var(--lvl2);
}
